* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@import url('./Responsive.scss');

body {
  padding: 30px;
  color: #333;
  background-image: linear-gradient(
    to bottom right,
    #3674B5 0%, #578FCA 20%, #A1E3F9 35%
  );
  background-size: 200% 200%;
  animation: gradientAnimation 10s linear infinite alternate;
}

@keyframes gradientAnimation {
  from {background-position: 0 0};
  to {background-position: 100% 100%};
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #efefefc7;
  padding: 20px 30px;
  border-radius: 10px;

  .todo_list {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #555;
    margin-top: 10px;

    .warning {
      margin-bottom: 0;
      text-align: center;
    }
  }

  .todo {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  .filter, .search {
    border-bottom: 1px solid #555;
    margin-bottom: 20px;
    padding-bottom: 20px;

    .filter_options {
      display: flex;
      justify-content: space-between;

      div {
        flex: 1 1 0;
      }
    }
  }
}

.categoria_title {
  font-weight: bold;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: #333974;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: .8;
  transition: .3s;
  margin-right: 10px;

  &:hover {
    opacity: 1;
  }

  &.complete {
    background-color: green;
  }

  &.remove {
    background-color: #d9534f;
  }
}

.todo_form {
  padding-bottom: 1.5rem;
}

input, select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
}